@import "../commmon/variable.scss";

.col-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.col-value{
    display: flex;
    justify-content: flex-start;
    button{
        @include size(30px, 30px);
        line-height: 20px;
        display: table-cell;
        vertical-align: middle;
        font-size: $font-l;

    }
}
@media (max-width: 576px){
    .col-value{
        justify-content: center;
    }
}
.profile-value{
    @include size(50px, auto);
    text-align: center;
    line-height: 30px;
}