
@import "../commmon/variable.scss";

.card{
    box-sizing: border-box;
    padding: 10px; 
    border: none;
    box-shadow: 0 1px 3px rgba($blue-dark,.12), 0 1px 2px rgba($blue-dark,.24);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    .card-title{
        font-family: "Permanent Marker", cursive;
        font-size: $font-xl;
        text-align: center;
    }
}
.card:hover{
    transform: translate(-3px, -3px);
    box-shadow: 0 10px 23px rgba($blue-dark,.20), 0 7px 7px rgba($blue-dark,.18);
}
.card.selected{
    border:solid 1px $blue;
    transform: translate(-3px, -3px);
    box-shadow: 0 10px 23px rgba($blue-dark,.20), 0 7px 7px rgba($blue-dark,.18);
}

