
@import "../commmon/variable.scss";

.card-hero{
    @include min-size(230px, auto);
    @include max-size(480px, auto);
    padding: 10px; 
    margin: 10px auto;
    opacity: .85;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    .card-title{
        font-family: "Permanent Marker", cursive;
        font-size: $font-xl;
        text-align: center;
    }
}
.card-hero:hover{
    transform: translate(-3px, -3px);
    box-shadow: 0 1px 3px rgba($gray,.12), 0 1px 2px rgba($gray,.24);
    opacity: 1;
}
.card-hero.selected{
    border: solid 3px rgba($blue, .5);
    transform: translate(-3px, -3px);
    box-shadow: 0 10px 23px rgba($gray,.20), 0 7px 7px rgba($gray,.18);
    opacity: 1;
}

