/*------------------------------------*\
    VARIABLE
\*------------------------------------*/
/**
 * VARIABLE : This document defines the variables used by this app
 * FONT-SIZE...........Define the font-size information used by the app
 * COLOR...............Define the color information used by the app
 * MIXIN...............Define the css settings commonly used by the app
 */


/*------------------------------------*\
    FONT-SIZE
\*------------------------------------*/
$font-m: 13px;
$font-xxl: $font-m * 2.8;
$font-xl: $font-m * 1.8;
$font-l: $font-m * 1.4;
$font-ml: $font-m * 1.2;
$font-s: $font-m * 0.8;

/*------------------------------------*\
    COLOR
\*------------------------------------*/
$white: #fff;
$black: #000;
$gray: rgb(207, 224, 249);
$light-blue: rgb(238,242,248);
$light-green:rgb(190, 221, 225);
$light-yellow: rgb(240, 237, 216);
$light-pink: rgb(240, 218, 216);
$blue: rgb(28,145,169);

/*------------------------------------*\
    MIXIN
\*------------------------------------*/
@mixin size($w, $h) {
    width: $w;
    height: $h;
}
@mixin min-size($w, $h) {
    min-width: $w;
    min-height: $h;
}
@mixin max-size($w, $h) {
    max-width: $w;
    max-height: $h;
}
